/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #14c871;
    text-decoration: none;
}

a:hover {
    color: #206bfb;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Scroll-bar
--------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 0.80rem;
    background-color: hsl(230, 12%, 90%);
    border-radius: 0.45rem;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(230, 12%, 80%);
    border-radius: 0.45rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(230, 8%, 65%);
}




/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background-color: darkblue;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #33eb92;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 5px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

#header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
    padding: 0px 0;
}

#header .logo {
    font-size: 27px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 0.5px;
}

#header .logo a {
    color: dodgerblue;
}

#header .logo img {
    height: 60px;
    margin-bottom: 5px;
}

@media (max-width: 991px) {
    #header {
        padding: 12px 0;
    }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 15px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: slategrey;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #000000;
}

.navbar .getstarted {
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 4px;
    line-height: 1;
    color: #5f687b;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #cdd1d9;
}

.navbar .getstarted:focus-within {
    font-size: 14px;
    font-weight: 500;
    transition: 0.8s;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 4px;
    line-height: 1;
}

.navbar .getstarted:hover {
    transition: 0.3s;
    background: #206bfb;
    color: #fff;
    border-color: #206bfb;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #16df7e;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #5f687b;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(73, 80, 94, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #5f687b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #16df7e;
}

.navbar-mobile .getstarted {
    margin: 15px;
    padding: 10px 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #16df7e;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}




/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 70vh;
    background: #ffffff;
    padding-top: 160px;
}

#hero h1 {
    margin: 0;
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    color: #181818;
}

#hero h2 {
    color: #858ea1;
    margin: 8px 0px 35px 0;
    font-size: 22px;
    line-height: 32px;
}

#hero .btn-courses {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 11px 25px 10px 25px;
    border-radius: 20px;
    transition: 0.3s;
    color: #fff;
    background: #206bfb;
    box-shadow: 0 5px 28px rgba(0, 255, 50, 0.15);
}

#hero .btn-courses:hover {
    border-radius: 15px;
    background: #0017FF;
    color: #fff;
    box-shadow: 0 0 28px rgba(32, 107, 251, 0.40);
}

#hero .btn-watch-video {
    font-size: 16px;
    display: inline-block;
    transition: 0.5s;
    margin-left: 25px;
    color: #5f687b;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#hero .btn-watch-video i {
    color: #949cac;
    font-size: 32px;
    line-height: 0;
    margin-right: 8px;
}

#hero .btn-watch-video:hover i {
    color: #16df7e;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.img-fluid{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@media (max-width: 991px) {
    #hero {
        height: 100vh;
    }

    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }

    #hero .hero-img {
        text-align: center;
    }

    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #hero {
        height: auto;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}




/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #F2F4F7;
}

.section-title {
    margin-top: 15px;
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -60px;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5f687b;
    position: relative;
    z-index: 2;
}

.section-title span {
    position: absolute;
    top: 0px;
    color: #f0f1f3;
    opacity: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .section-title span {
        font-size: 38px;
    }
}




/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/

.courses h2 {
    color: black;
}

.courses .coursecard {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 12px 14px;
    ;
    background: #ebecf3;
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.courses .coursecard img {
    transition: 0.3s;
    max-width: 100%;
    margin: 0 0 18px 0;
    border-radius: 20px;
}

.courses .coursecard h3 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 24px;
}

.courses .coursecard .button {
    font-size: 22px;
    font-weight: 600;
    margin-top: -3px;
    padding: 0px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 20px;
}

.courses .coursecard p {
    padding-top: 8px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}

.courses .coursecard:hover {
    transition: 0.3s;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.courses .coursecard:hover img {
    transition: 0.3s;
    border-radius: 40px;
}

.courses .morecourses-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 4px 18px;
    border-radius: 10px;
    transition: 0.2s;
    margin-top: 17px;
    border: 2px solid #fff;
    background-color: #8400FF;
    color: #fff;
    margin-bottom: -20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.courses .morecourses-btn:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    background: #FFA800;
    color: #fff;
    transition: 0.3s;
    border-radius: 20px;
}




/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    padding: 20px;
    background-color: #F2F4F7;
}

.counts h2 {
    color: #000000;
    margin-top: -25px;
}

.counts .counters span:after {
    content: "+";
}

.counts .counters span {
    margin-top: -21px;
    font-size: 48px;
    display: block;
    color: #0670aa;
    font-weight: 700;
}

.counts .counters p {
    padding: 0;
    margin: 0 15px 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 600;
}




/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
    padding: 10px;
    background-color: #ffffff;
}

.about .content h2 {
    text-align: center;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 35px;
    color: #0670aa;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #16df7e;
}

.about .content p {
    font-size: 20px;
    line-height: 30px;
}

.about .content p:last-child {
    margin-bottom: 0;
}




/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features h3 {
    margin-top: -55px;
}

.features .icon-box {
    text-align: center;
    border: 1px solid #fff;
    padding: 30px 20px;
    transition: all ease-in-out 0.2s;
    background: #fff;
    border-radius: 30px;
}

.features .icon-box .icon {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
}

.features .icon-box .icon i {
    color: #16df7e;
    font-size: 120px;
    transition: 0.3s;
}

.features .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 25px;
}

.features .icon-box p {
    margin-top: -10px;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.features .icon-box:hover {
    transition: all ease-in-out 0.2s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-color: #eaecef;
}

.features .icon-box:hover h4 {
    color: dodgerblue;
}



/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
    padding: 40px;
    background-color: white;
}

.testimonials h2 {
    padding-top: 35px;
    color: black;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: -40px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px solid #fff;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 45px;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #e4e6ea;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: -20px 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: white;
    position: relative;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid dodgerblue;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: dodgerblue;
}




/*--------------------------------------------------------------
# University Leader
--------------------------------------------------------------*/
.universityleader {
    background-color: #206bfb;
    background-size: cover;
    padding: 60px 0;
}

.universityleader h3 {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 15px;
}

.universityleader h2 {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 30px;
}

.universityleader p {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    color: #fff;
}

.universityleader .ans {
    margin-top: -20px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.universityleader .universityleader-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;
    transition: 0.2s;
    margin-top: -5px;
    border: 2px solid #fff;
    color: #fff;
}

.universityleader .universityleader-btn:hover {
    background: #fff;
    color: #206bfb;
    
    border-color: #206bfb;
}




/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team h2 {
    color: black;
}

.team .member {
    text-align: center;
    margin-bottom: 20px;
    padding: 18px 20px;
    background: #fff;
    border-radius: 50px;
}

.team .member img {
    max-width: 100%;
    margin: 0 0 18px 0;
    border-radius: 40px;
}

.team .member h3 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 25px;
}

.team .member span {
    font-style: italic;
    display: block;
    font-size: 16px;
}

.team .member p {
    padding-top: 8px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}

.team .member .social {
    margin-top: 15px;
}

.team .member .social a {
    color: #919191;
    transition: 0.3s;
}

.team .member .social a:hover {
    color: dodgerblue;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
    background-color: #206bfb;
    color: #5f687b;
    font-size: 14px;
    position: relative;
}

#contact .footer-top {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 40px 0px;
    margin-bottom: -43px;
}

#contact .footer-top .foot1 {
    font: poppins;
    font-family: "Poppins", sans-serif;
    padding: 40px;
}

#contact .footer-top .foot1 h3 {
    margin-bottom: -4px;
    color: white;
}

#contact .footer-top .foot1 p {
    text-align: center;
    font-size: 22px;
    color: yellow;
}

#contact .footer-top h3 {
    font-size: 42px;
    font-weight: 700;
    color: yellow;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
}

#contact .footer-top .foot2 {
    padding: 20px;
    text-align: left;
}

#contact .footer-top .foot2 h3 {
    font-weight: 500;
    padding-bottom: 15px;
    font-size: 23px;
}

#contact .footer-top .foot3 {
    padding: 12px;
    text-align: left;
}

#contact .footer-top .foot3 h3 {
    font-weight: 500;
    padding-bottom: 0px;
    font-size: 23px;
}

#contact .footer-top .foot2 span {
    font-size: 16px;
    padding: 0px;
    color: white;
}

#contact .footer-top .foot2 span i {
    vertical-align: middle;
    font-size: 25px;
    padding-right: 4px;
    color: white;
}

#contact .footer-top .foot2 span a {
    color: white;
}

#contact .footer-top .foot2 span a:hover {
    text-decoration: underline;
    color: white;
}

#contact .footer-top .tagline {
    font-size: 23px;
    font-style: normal;
}

#contact .footer-top p {
    text-align: left;
    color: white;
    font-size: 15;
    margin: 8px 0 0 0;
    padding: 0;
}

#contact .footer-top .social-links {
    margin-top: 40px;
    margin-bottom: 50px;
}

#contact .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #eaecef;
    color: #5f687b;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#contact .footer-top .social-links a:hover {
    background-color: #5f687b;
    color: #eaecef;
    text-decoration: none;
}

#contact .footer-bottom {
    border-top: 1px solid #d9dce2;
    z-index: 2;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact .cccopyright {
    text-align: center;
    padding-top: 20px;
    color: whitesmoke;
}

#contact .copyright {
    color: #206bfb;
    float: left;
}

#contact .credits {
    color: #206bfb;
    float: right;
    font-size: 13px;
}

#contact .credits a {
    color: #206bfb;
}

@media (max-width: 992px) {

    #contact .copyright,
    #contact .credits {
        float: none;
        -moz-text-align-last: center;
        text-align-last: center;
    }
}




/*--------------------------------------------------------------
# Course Page
--------------------------------------------------------------*/
#coursepage {
    width: 100%;
    height: 80vh;
    background: #002387;
    padding-top: 120px;
}

#coursepage h1 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #fff;
}

#coursepage h2 {
    font-family: 'Poppins', sans-serif;
    color: #F3F3F3;
    margin: 8px 0px 35px 0;
    font-size: 22px;
    line-height: 32px;
}

#coursepage .coursepage-img {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 991px) {
    #coursepage {
        height: 100vh;
    }

    #coursepage .coursepage-img {
        text-align: center;
    }

    #coursepage .coursepage-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #coursepage {
        height: auto;
    }

    #coursepage h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #coursepage h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #coursepage .coursepage-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #coursepage .coursepage-img img {
        width: 80%;
    }
}

.coursespanel {
    background-color: #fff;
}

.coursespanel h2 {
    color: #002387;
}

.coursespanel .coursecard {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    padding: 10px 12px 14px;
    ;
    background: #ebecf3;
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.coursespanel .coursecard img {
    transition: 0.3s;
    max-width: 100%;
    margin: 0 0 18px 0;
    border-radius: 20px;
}

.coursespanel .coursecard h3 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 24px;
}

.coursespanel .coursecard .button {
    font-size: 22px;
    font-weight: 600;
    margin-top: -3px;
    padding: 0px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 20px;
}

.coursespanel .coursecard p {
    padding-top: 8px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}

.coursespanel .coursecard:hover {
    transition: 0.3s;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.coursespanel .coursecard:hover img {
    transition: 0.3s;
    border-radius: 40px;
}

.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle
}

.text-inherit {
    color: #18113c
}




/*--------------------------------------------------------------
# Single Course Page
--------------------------------------------------------------*/

#coursename {
    padding: 65px 0;
    width: 100%;
    height: 43vh;
    background: #002387;
    padding-top: 140px;
}

#coursename h1 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #fff;
}

#coursename h2 {
    font-family: 'Poppins', sans-serif;
    color: #F3F3F3;
    margin: 8px 0px 35px 0;
    font-size: 22px;
    line-height: 32px;
}

#coursename .dummy {}

#coursename .coursename-img {

    display: flex;
    justify-content: center;
    align-items: center;
}

#coursename .coursename-img img {
    border-radius: 20px;
    border: 5px solid #FFF;
}



@media (max-width: 991px) {
    #coursename {
        height: 100vh;
    }

    #coursename .coursename-img {
        text-align: center;
    }

    #coursename .coursename-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #coursename {
        height: auto;
    }

    #coursename h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #coursename h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #coursename .coursename-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #coursename .coursename-img img {
        width: 80%;
    }
}



/*--------------------------------------------------------------
# Course Content Page
--------------------------------------------------------------*/

#coursemainname {
    width: 100%;
    height: 40%;
    background: #002387;
    padding-top: 140px;
}


#coursemainname h1 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #fff;
}

.list-group-item .button {
    color: darkblue;
    align-content: stretch;
    font-size: 28px;
    font-weight: 600;
    margin-top: -1px;
    padding: 0px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 20px;
    background-color: yellow;
    border-style: solid;
    border-color: black;
}

.list-group-item .button:hover {
    color: yellow;
    background-color: darkblue;
    border-style: solid;
    border-color: black;
}

.tablinks {
    float: left;
    font-weight: 400;
}

.tablinks:hover {
    color: darkviolet;
    font-weight: 600;
}
